{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Remove Background</title>
    <link rel="stylesheet" href="{% static '/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body class="vh-100 text-center text-white bg-dark">

    <div class="d-flex h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="">
                <h1 class="">Remove Background</h1>
            </div>
        </header>

        <main role="main" class="d-flex justify-content-center">
            <div class="my-maxw-50">
                {% if image %}
                    <div class="d-flex flex-column">
                        <img src="{{ MEDIA_URL }}/{{ image }}" alt="Image without background" class="limit-img">
                        <a href="download/image/{{ image }}" class="btn btn-secondary btn-sm mt-2 text-uppercase" target="_blank">Download Image</a>
                        <a href="/" class="btn btn-secondary btn-sm mt-2 mb-2 text-uppercase">Previous</a>
                    </div>
                {% else %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="cover-heading">Upload your image to remove background!</h2>
                        <div class="mb-3 d-flex">
                            <input id="input-image-file" class="form-control my-minw-25" type="file" name="_upload" accept=".jpeg, .jpg, .png">
                            <input type="submit" value="Confirm" class="btn btn-secondary text-uppercase ms-1">
                        </div>
                    </form>
                    {% if warning %}
                        <span class="bg-secondary rounded p-2 text-wrap">{{ warning }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </main>

        <footer class="mt-auto">
            <div>
                <p class="d-flex justify-content-center align-items-center">
                    My GitHub <a href="https://github.com/leollama01" id="my-github" class="text-decoration-none text-secondary ms-1 me-1" target="_blank">leollama01</a> 
                    <img src="{% static '/icons/github-icon.svg' %}" alt="A white github icon logo">
                </p>
            </div>
        </footer>
    </div>

    <script src="{% static '/js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static '/bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/general.js' %}"></script>

    <!-- reference: https://getbootstrap.com/docs/4.0/examples/cover/ -->

</body>

</html>
